:root {
    --black: #000000;
    --tan: #ab9065;
}

body {
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

#hContain {
    padding: 24px 12px 12px 24px;

}

header {
    background-color: var(--black);
}

h1 {
    font-size: 48px;
    text-align: start;
     color: var(--tan);
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

img {
    object-fit: cover;
    object-position: 50% 58%;
    overflow: hidden;
    width: 100%;
    height: 650px;
}

#f-contain {
    padding-top: 0px;

}