:root {
    --black: #000000;
    --tan: #ab9065;
    --orange: #FF9800;
}

body {
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
}

#nav-bars {
    background-color: var(--black);
    margin-bottom: 0px;
}

#hContain {
    padding: 12px 12px 12px 12px;
    margin-left: 75px;
}

h1 {
    font-size: 64px;
    font-weight: 800;
    text-align: start;
    color: var(--tan);
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    font-size: 28px;
    font-weight: 600;
    border-bottom: 1px solid white;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

#vinyl {
    width: 100px;
    padding: 5px;
    margin-right: 100px;
}

#intro {
    margin-bottom: 0px;
}

#banner{
    background-image: url("../images/orange-crowd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 750px;
}

#f-contain {
    padding: 0px 0px;

}

#info-box {
    text-align: center;
    opacity: 0;
}

#app-desc {
    background-color: rgba(0, 0, 0, 0.801);
    max-width: 900px;
    min-height: 250px;
    border-radius: 10px;
    padding: 10px;
}

#h2-desc {
    font-size: 28px;
    color: white;
    margin: 3px;
    padding: 5px;
    border-bottom: 1px solid white;
}

#p-desc {
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 5px;
    padding: 5px 5px 5px 5px;
}

#input-container {
    margin: 5px;
}

#input-box {
    width: 275px;
    background-color: rgba(0, 0, 0, 0.801);
    border: none;
    color: white;
    font-size: 110%;
    border-left: 5px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin: 5px;
}

#input-box::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.699);
  }

#searchButton {
    background-color: rgba(0, 0, 0, 0.699);
    color: white;
    border: none;
    margin: 5px;
    padding: 2px 5px 2px 5px;
    height: 44px;
    width: 65px;
}

.icon {
    padding: 5px;
}

#searchButton:hover {
    background-color: rgba(0, 0, 0, 0.837);
    color: rgb(139, 139, 139);
    border: none;
    margin: 5px;
    padding: 2px 5px 2px 5px;
    height: 44px;
    width: 65px;
}

.past-search {
    min-height: 75px;
    padding: 10px;
    color: white;
    
}

#collapse{
    text-align: left;
}

#art-bg {
    background-image: url("../images/microphone.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-top: 0px;
}

#artistContainer {
    background-color: rgba(0, 0, 0, 0.699);
    color: aliceblue;
    border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 30px;
}


#album-bg {
    background-image: url("../images/bw-stage-artist.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#albumContainer {
    background-color: rgba(0, 0, 0, 0.699);
    color: aliceblue;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;
}

#recommendContainer {
    background-color: rgba(0, 0, 0, 0.699);
    color: aliceblue;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;
}

.footText {
    color: var(--orange);
}

#footer {
    background-color: var(--black);
    color: var(--tan);
    margin-top: 10px;
    padding: 24px;
}

@media only screen and (max-width: 1024px) {
    #hContain {
        margin-left: 50px;
    }
}

@media only screen and (max-width: 768px) {
    #albumContainer, #recommendContainer, #artistContainer {
        margin: 0px 10px 10px 10px;
        padding: 18px;
    }

    #hContain {
        margin-left: 0px;
        justify-content: center;
    }
}

@media only screen and (max-width: 420px) {
    h1{ 
        font-size: 60px;
    }
    body{ 
        font-size: 12px;
    }
    br{
        display: none;
    }
}

@media only screen and (max-width: 375px) {
    h1{ 
        font-size: 56px;
    }
    
}

@media only screen and (max-width: 300px) {
    h1{ 
        font-size: 40px;
    }
    
}